<!-- Footer -->
<footer class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About GenoStock</h5>
                <p>Your trusted platform for livestock trading and management.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: info@genostock.com<br>Phone: (555) 123-4567</p>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <div class="social-links">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer> 