<!-- Footer -->
<footer class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>About GenoStock</h5>
                <p>GenoStock is a platform for managing cattle health, sales, and more, saving time and boosting productivity.</p>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <p>Email: info@genostock.com<br><i class="fab fa-whatsapp me-2"></i>WhatsApp (507) 5123-4567</p>
            </div>
            <div class="col-md-3">
                <h5>Follow Us</h5>
                <p>
                    <i class="fab fa-instagram me-2"></i>Instagram<br>
                    <i class="fab fa-facebook me-2"></i>Facebook
                </p>
                <div class="social-links">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <h5>Newsletter</h5>
                <p>Subscribe to our newsletter for the latest updates and cattle management tips.</p>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Enter your email" aria-label="Email address">
                    <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</footer> 